model_config_list {
	config {
		name: 'Model_M1',
		base_path: 'models/Model_M1/',
		model_platform: 'tensorflow'
	},
	config {
		name: 'Model_M2',
		base_path: 'models/Model_M2/',
		model_platform: 'tensorflow'
	},
	config {
		name: 'Model_M3',
		base_path: 'models/Model_M3/',
		model_platform: 'tensorflow'
	}
}